body{
    background-image: url('/admin.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    display: flex;
}

.name{
    margin-left: 20px;
}
.con1{
    width: 1150px;
    height: 1000px;
    background:black 0% 0% no-repeat padding-box;
    border-radius: 0px 20px 0px 0px;
    opacity: 0.60;
    position: relative;
    /* backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px); */
}



nav{
    width: 349px;
    height: 1024px;
    margin-left: 33px;
    background: black 0% 0% no-repeat padding-box;
    opacity: 0.75;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    position:relative;
}


.addText{
    margin-top: 5px;
}

.navItems{
    position:absolute;
    right:150px;
    display: flex;
    color:white;
    flex-direction: column;
    align-items:center;
    align-content: end;
    width:210px;
}
.admImg{
    width:100px;
    height:100px;
    background-color: white;
    border-radius:100%;
    margin-top: 18px;
    margin-bottom: 30px;
}

.navItems button{
    color:white;
    font-size:large;
}

.btnHome{
    margin-top: 93px;
}

.logout{
    /* margin-right: 100px; */
    /* position: absolute;
    right: 27px; */
    margin-left: 320px;
}

.navImg{
    width:183px;
    height:135px;
    margin-top: 404px;
    margin-left:180px;
}

.items{
    position: absolute;
    top:60px;
    left:30px;
    
}

.mybagText{
    color:white;
    margin-top: 30px;
}

.userItems{
    width:1100px;
    background-color: rgba(255,255,255,0.1);
    /* height:700px; */
    /* opacity:0.1; */
}
.echItem{
    display:flex;
    margin-top: 30px;
    /* border:2px solid black; */
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 0px 15px 0px 0px;
    
}

.remImg{
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin-left: 42px;
    margin-top:29px;
    cursor: pointer;
}

.itmImg img{
    border-radius: 0px 15px 0px 0px;
}

.cost{
    background-color: black;
    color:green;
    height:50px;
    padding:8px;
    border-radius: 0px 15px 0px 0px;
    align-self: top;
}

.remShow{
    position: absolute;
    top:300px;
    left:300px;
    border-radius: 0px 15px 0px 0px;
    padding: 20px;
}

.remcan{
    margin-top: 50px;
    display:flex;
    width:40%;
    justify-content: space-between;
}

.canClass{
    visibility: hidden;
}

.navItems :hover{
    color:blue;
    /* background-color: green; */
}